<table class="table table-sm table-hover d-lg-table">
  <thead class="thead-light">
  <tr>
    <th>Name</th>
    <th>Credit Rate</th>
    <th>Unit of Measure</th>
    <th>Unit Count</th>
    <th>Credit Count</th>
    <th>Cost</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |creditObject|}}
    <tr>
      <td>{{creditObject.name}}</td>
      <td>{{creditObject.rate}}</td>
      <td>{{creditObject.unitMeasure}}</td>
      <td>{{input type='number' value=creditObject.units}}</td>
      <td>{{format-floating-point creditObject.creditCost}}</td>
      <td>{{credit-to-cost creditObject.creditCost}}</td>
    </tr>
  {{/each}}
  <tr class="table-primary table-total">
    <td colspan="4">Total</td>
    <td>{{format-floating-point creditTotal}}</td>
    <td>{{credit-to-cost creditTotal}}</td>
  </tr>
  </tbody>
</table>
